*-debug.log
*-error.log
.oclif.manifest.json
node_modules
/package-lock.json
/.aio
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
.DS_Store
/test-results.xml
coverage/
junit.xml
oclif.manifest.json
.vscode

